
 {{ 'flickity.min.css' | asset_url | stylesheet_tag }}
 {{ 'flickity.css' | asset_url | stylesheet_tag }}
 
{% assign img_width = section.settings.img_width | append: 'x' %}
{% assign margin_right = section.settings.margin_right  %}
 
<div>
{% if section.settings.title != blank %}
    <div class="section-header">
      <h4>{{ section.settings.title | escape }}</h4>
    </div>
  {% endif %}

<div class="flickity-section" style="background-color: {{ section.settings.bg }}">
  <div class="page-width">
    <div>



    <div class="feature-collection-slider {{section.id }}"
        data-flickity='{
         
             "setGallerySize": true,
          "pageDots": true,
       
                       "prevNextButtons": false,
                       
                         "resize": true,
                       "autoPlay": 2000,
        
                     
                       "freeScroll" :true,
                       "imagesLoaded": true,
                       "groupCells": false,
         "wrapAround": true,
                      
                       "pauseAutoPlayOnHover": false
                       
                       
                       
                  
 
                       
        }'>
      {% for block in section.blocks %}
        {% assign block_image_picker = block.settings.image %}
       
       {% assign featured_img_src = block.settings.image %}
     
     

      <div class="carousel-cell"style="margin-right:{{ section.settings.margin_right }}px ">
{% if block.settings.image != blank %}
            <a href="{{  block.settings.link }}">
              <img src="{{ featured_img_src | img_url: '213x320'}}" />
            </a>
          {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          
        


            
          {% endif %}
          <a href="{{ block_product.url }}">
       
          </a>
                    
     
          
        </div>
      {% endfor %}
       </div>
  </div>
</div>


<style>
 
  .flickity-section{
     float:center;
      padding-right: 450px;
  padding-left: 450px;}
  .carousel-cell
  { height:300px}
  
  .h3 {text-align: center}
  
 
  
  .section-header{text-align: center}
</style>
      
      



{% schema %}
  {
    "name": "Collection slider",
    "settings": [
      {
        "type": "color",
        "id": "bg",
        "label": "Background Color"
      },
  	
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Flickity Product Slider"
      },
   
     
    
     
      {
        "type": "radio",
        "id": "wrap_around",
        "label": "Enable Wrap Around (endless scrolling)",
        "options": [
          {
            "value": "true",
            "label": "True"
          },
          {
            "value": "false",
            "label": "False"
          }
        ],
        "default": "true"
      },
      {
        "type": "range",
        "id": "margin_right",
        "min": 0,
        "max": 48,
        "step": 1,
        "unit": "px",
        "label": "white space padding",
        "default": 10,
        "info": "Save page to see changes. It is not functionable with mobile version but u can change the background color to have the border"
      }
    
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
      "info": "Recomended image size : 213 × 320"
          },
		{
          "type": "url",
          "id": "link",
          "label": "Link"
		}
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection slider",
        "category": "Slider",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}